html {
    scroll-behavior: smooth;
  }

body {
    background-color: #c1c8e4;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

#title {
    width:100%;
    height:100px;
    
}

#navbar {
    width:100%;
    height:75px;
    color:#393b41;
    font-weight: bold;
}

.element {
    float:left;
    padding:15px;
    margin:11px;
    font-size: 1.15em;
}


#sec1{
    height: auto;
    width:100%;
    /* background-image: linear-gradient(to right, #8860d0, #5ab9ea); */
    background-color: #374f9f;
    text-align: center;
    display: block;
    text-align: center;
    padding:0px 45px 45px 45px;
    box-sizing: border-box;
    
}

#eplanista{
    margin: 0 0 0 0;
    font-size: 62px;
    color:#f3f3f3;
    float:left;
    width:100%;
    text-align: left;
}

.opis{
    color:#f3f3f3;
    float:left;
    width:50%;
    text-align:left;
    font-size:30px;  
}

.opis-osoby{
    padding-left:5px;
}

#opis-container{
    width:100%;
    float:left;
    padding-top:40px;
    margin-bottom:159px;
}

#projekt{
    width:80%;
    height:800px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#czlonkowie{
    width:100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    background-color: #c1c8e4;
    padding-top:15px;
    padding-bottom:160px;
}

#members-header{
    background-color: #c1c8e4;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    padding:0px;
    text-align: center;
}

.members-header-title{
    margin:0px;
    padding-top:20px;
    padding-bottom:20px;
}

.member{
    background-color: rgba(255, 255, 255, 0.6);
    width:600px;
    height: 200px;
    margin:25px;
    float:left;
    border-radius: 120px; 
    
}

#kamil-container{
    float:left;
    background-color: #c1c8e4;
   padding-top:15px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

#kamil-member{

    margin: 0 auto;
    position: relative;
    width: 600px;
}



.arrow {
    width: 50px;
  }
.arrowup {
    width: 32px;
    transform: rotate(180deg);
    border:white solid 3px;
    padding:4px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    float:left;
  }

#totop{
    background-image:linear-gradient(to bottom, #8860d0, #5ab9ea);
    margin:0px;
    width:100%;
    height:auto;
    
    
}
.memberimg{
    border-radius: 50%;
    vertical-align:middle;
    margin: 9px 5px 5px 15px;
    float:left;
    width:175px;
}

.arrow-container{
    width:100%;
    text-align: center;
    background-color: #c1c8e4;
    padding-top:65px;
    padding-bottom:35px;
}

#timeline-header{
    /* background-image:linear-gradient(to right, #8860d0, #5ab9ea); */
    background-color:#374f9f;
    padding:0px;
    text-align: center;
    color:#f3f3f3;
}

.timeline-header-title{
    padding-top:20px;
    margin-bottom:0px;
}


a:link    { color:#393b41; text-decoration: none; }
a:visited { color:#393b41; text-decoration: none; }
a:hover   { color:#393b41; text-decoration: none; }
a:active  { color:#393b41; text-decoration: none; }




ul, li {
    list-style: none;
    padding: 0;
}
.container {
    height:auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding: 0 1rem;
    background: linear-gradient(to bottom, #374f9f, #5ab9ea);
    padding: 3rem 0;
    
}
.wrapper {
    background: #eaf6ff;
    padding: 2rem;
    border-radius: 15px;
    width:45%;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}
li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}
li:last-child {
    border: 0px;
    padding-bottom: 0;
}
li:before {
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
.time {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#logo-main {
    width:45%;

}
@media screen and (min-width: 601px) {
    .time {
        font-size: 0.9rem;
   }
}
@media screen and (max-width: 600px) {
    .time {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
   }
}
p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;
}
@media screen and (max-width: 600px) {
    p {
        font-size: 0.9rem;
   }
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #4e5ed3;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #menu-button
  {
      position:fixed;
      top:5;
      right:10;
      font-size:30px;
      cursor:pointer
  }


  .member-container{
    position: relative;
    height: 500px;
    width: 500px;
  }
  .scale{
    height: 250px;
    width: 250px;
    background-size: cover;
    position: absolute;
    transition: 0.3s all;
  }
  div#one {
    background-image: url(michal-twarz.png);
    -moz-border-radius: 240px 0 0 0;
    border-radius: 240px 0 0 0;
    left: 0;
    top: 0;
  }
  div#two{
     background-image: url(krystian-twarz.png);
    -moz-border-radius: 0 240px 0 0;
    border-radius: 0 240px 0 0;
    right: 0;
  }
  div#three{
    background-image: url(adam-twarz.png);
    -moz-border-radius: 0 0 240px 0;
    border-radius: 0 0 240px 0;
    bottom: 0;
    right: 0;
  }
  div#four{
    background-image: url(tomek-twarz.png);
    -moz-border-radius: 0 0 0 240px;
    border-radius: 0 0 0 240px;
    bottom: 0;
  }
  .scale:hover{
    transform: scale(1.1);
    z-index: 100;
      filter: blur(0) !important;
    -webkit-filter: blur(0) !important;
  }
  .member-container:hover .scale{
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  #kamil-profilowe
  {
      background-image: url("kamil_profilowe.png");
      background-position: center;
      background-size:350px;
      height:350;
      width:350;
      -moz-border-radius: 240px;
      border-radius: 240px;
      float:left;
  }